n8n/workflows/Telegram alert.json
{
  "name": "Telegram alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -320
      ],
      "id": "4af16780-3250-45a6-9af4-83eddf7013e1",
      "name": "Webhook",
      "webhookId": "36549456-32e6-48dd-b265-1f47771d00e7"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst alertName = data?.body?.alertname || \"Unknown\";\nconst details = data?.body?.message || \"No details\";\nconst status = \"firing\";\n\nconst message = `*${status.toUpperCase()}*: ${alertName}\\nDetails: ${details}`;\n\nreturn [{ json: { alertname: alertName, status: status, message: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -320
      ],
      "id": "7f14a79f-caad-44db-b5b5-a206c181f510",
      "name": "CodeJS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.proxyapi.ru/anthropic/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sk-iIrIFYxkda9yhXWQKcH3ECPv6of74DcX"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 100,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an SRE engineer. Alert: AppDown. Details: *FIRING*: AppDown Details: Database connection timeout, pod crashed. Give short recommendation: 1. Root cause, 2. Mitigation, 3. Prevention. Respond in plain text only. Do not use markdown formatting. No headers (#), no bold (**), no bullet dashes, no code blocks. Use plain numbered lists and line breaks only.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -320
      ],
      "id": "db0e7e9c-fcc8-489a-aa41-7da9b4ad5c6c",
      "name": "Claude"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "17c4a8b8-c00f-4b96-a102-8118ea94f00d",
      "name": "Test Webhook"
    },
    {
      "parameters": {
        "chatId": "278619158",
        "text": "={{ `<b>🚨🚑🔧Alert:</b>\n${$node['CodeJS'].json.alertname}\n\n<b>💡Recommendation:</b>\n${$node['Claude'].json.content[0].text}` }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Assignee to me",
                    "additionalFields": {
                      "callback_data": "take"
                    }
                  },
                  {
                    "text": "⚠️ Escalate",
                    "additionalFields": {
                      "callback_data": "escalate"
                    }
                  },
                  {
                    "text": "❌ Decline",
                    "additionalFields": {
                      "callback_data": "decline"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -320
      ],
      "id": "91360880-5352-4e67-b0b5-3efa0251aace",
      "name": "Send a text message",
      "webhookId": "0e463bfc-e187-49b9-a429-1631d3c64942",
      "credentials": {
        "telegramApi": {
          "id": "gHvzVZxEC3Faf721",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        80
      ],
      "id": "d1cbdec3-63ef-47fc-825d-5a0f21207dfb",
      "name": "Webhook1",
      "webhookId": "ec53654d-838c-4006-a2c5-a32b4f528d71"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst callback = data?.body?.callback_query;\n\nif (!callback) {\n  throw new Error(\"No callback_query in update\");\n}\n\nconst callbackData = callback.data || \"\";\nconst chatId = callback.message?.chat?.id;\nconst userName = callback.from?.first_name || \"Engineer\";\nconst messageId = callback.message?.message_id;\n\nlet publicMessage = \"\";\n\nif (callbackData === \"take\") {\n  publicMessage = `✅ ${userName} took on the incident`;\n} else if (callbackData === \"escalate\") {\n  publicMessage = `⚠️ ${userName} escalated the incident`;\n} else if (callbackData === \"decline\") {\n  publicMessage = `❌ ${userName} declined the incident`;\n} else {\n  publicMessage = `❓ unknown action by ${userName}`;\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: publicMessage,\n    reply_to_message_id: messageId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        80
      ],
      "id": "728153d4-f9c8-43df-a333-72ee408636a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": "={{$json.reply_to_message_id}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        80
      ],
      "id": "a88b4053-dd29-4b8f-837a-37bf8106650f",
      "name": "Send a text message1",
      "webhookId": "0975918c-9ede-4b78-bc7a-30209fc96ef8",
      "credentials": {
        "telegramApi": {
          "id": "gHvzVZxEC3Faf721",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Claude": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CodeJS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeJS": {
      "main": [
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a7b8e49-c28b-4ffe-bbf0-5b2fb92c9837",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0fdad81ac535addd9fabb7b56f27f7739aa79c1291f8f49392eed929a5e305f8"
  },
  "nodeGroups": [],
  "id": "n7pyjsPqHQGpkWES",
  "tags": []
}